replicaCount: 1
revisionHistoryLimit: 0
deploymentStrategy:
  type: RollingUpdate

## PodDisruptionBudget
## ref: https://kubernetes.io/docs/tasks/run-application/configure-pdb/#specifying-a-poddisruptionbudget
# maxUnavailable: 1

image:
  repository: snipe/snipe-it
  tag: v5.1.5
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  annotations: {}

config:
  mysql:
  ## All of these values are only used when mysql.enabled is set to false
    externalDatabase:
      user: "snipeit"
      pass: ""
      name: db-snipeit
      host: mysql
      port: 3306

  snipeit:
    env: production
    debug: false
    url: http://example.local
    key: ""
    timezone: Europe/Berlin
    locale: en
    envConfig: {}

initcontainers:
  image: "557680788250.dkr.ecr.eu-central-1.amazonaws.com/busybox:latest"

mysql:
  ## Whether to deploy a mysql server to satisfy the applications database requirements. To use an external database set this to false and configure the externalDatabase parameters
  enabled: true
  ## Create a database and a database user
  ##
  mysqlUser: snipeit
  mysqlPassword: "snipeit"
  mysqlDatabase: db-snipeit

  persistence:
    enabled: true
      ## mysql data Persistent Volume Storage Class
      ## If defined, storageClassName: <storageClass>
      ## If set to "-", storageClassName: "", which disables dynamic provisioning
      ## If undefined (the default) or set to null, no storageClassName spec is
      ##   set, choosing the default provisioner.  (gp2 on AWS, standard on
      ##   GKE, AWS & OpenStack)
      ##
      # storageClass: "-"
    accessMode: ReadWriteOnce
    size: 8Gi

persistence:
  enabled: true
  annotations: {}
  accessMode: ReadWriteOnce
  existingClaim: ""
  ## database data Persistent Volume Storage Class
  ## If defined, storageClassName: <storageClass>
  ## If set to "-", storageClassName: "", which disables dynamic provisioning
  ## If undefined (the default) or set to null, no storageClassName spec is
  ##   set, choosing the default provisioner.  (gp2 on AWS, standard on
  ##   GKE, AWS & OpenStack)
  ##
  # storageClass: "-"
  size: 2Gi

  www:
    mountPath: /var/lib/snipeit
    subPath: www
  sessions:
    mountPath: /var/www/html/storage/framework/sessions
    subPath: sessions

ingress:
  enabled: true
  annotations: {}
    # kubernetes.io/ingress.class: nginx
    # kubernetes.io/tls-acme: "true"
  path: /
  hosts:
    - example.local
  tls: []
  #  - secretName: example-local
  #    hosts:
  #      - example.local

mysql-backup:
  enabled: false

resources: {}
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi

nodeSelector: {}

tolerations: []

affinity: {}
